
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
}

/* ===== Background ===== */
body {
  background: radial-gradient(circle at 20% 20%, #0f2f25 0%, #071018 45%, #050b12 100%);
  min-height: 100vh;
  color: #e6f1f5;
}

/* ===== Navbar ===== */
/* ===== NAVBAR ===== */
.navbar {
 width: 100%;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(circle at 20% 20%, #0f2f25 0%, #071018 50%, #050b12 100%);
  border-bottom: 1px solid #1e293b;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #00ff9c;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #9ca3af;
  font-size: 14px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #00ff9c;
}

.auth-links .btn {
  padding: 8px 16px;
  border-radius: 6px;
  background: #00ff9c;
  color: #001a12;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.auth-links .btn:hover {
  box-shadow: 0 0 15px rgba(0,255,150,0.6);
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
  }

  .nav-links {
    display: none; /* Simple version for now */
  }
}

.btn {
  padding: 8px 18px;
  border: 1px solid #22c55e;
  border-radius: 6px;
}

.btn:hover {
  background: #22c55e;
  color: #0f172a;
}

.back-btn {
  text-decoration: none;
  font-size: 14px;
  color: #00ff9c;
  transition: 0.3s;
}

.back-btn:hover {
  text-decoration: underline;
}
/* ===== Form Section ===== */
h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  color: #ffffff;
}

form {
  width: 400px;
  margin: auto;
  background: rgba(255,255,255,0.04);
  padding: 30px;
  border-radius: 16px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.08);
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
  color: #b6fff0;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid rgba(0,255,150,0.2);
  background: #0b1f1b;
  color: #ffffff;
}

input:focus {
  outline: none;
  border-color: #00ff9c;
  box-shadow: 0 0 10px rgba(0,255,150,0.4);
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(90deg,#00ff9c,#00c76f);
  color: #001a12;
}

button:hover {
  box-shadow: 0 0 20px rgba(0,255,150,0.6);
}

.btn {
  padding: 8px 18px;
  border: 1px solid #22c55e;
  border-radius: 6px;
}

.btn:hover {
  background: #22c55e;
  color: #0f172a;
}